/* .search{
    padding: 2rem 2rem 1rem;
}
.restaurant-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    margin: 1rem;
    display: flex;
    margin: 3px;
}

.filter-btn:hover{
    cursor: pointer;
}

.search-input{
    margin-right: 10px;
} */